/*padding: 10px;
border: 1px solid black;*/
.wrapper {
    display: grid;
    grid-template-columns: 1600px;
    grid-template-rows: repeat(6, 1342px); /*1600X8052*/

}

.header {

}

.photoHeader{
    position: absolute;
    width: 1865px;
    height: 1243px;
    margin-top: -149px;
    margin-left: -262px;

}

.headerTextWeb {
    position: absolute;
    width: 753px;
    height: 93px;
    margin-top: 501px;
    margin-left: 424px;
}

.buttonLearnMore {
    position: absolute;
    width: 186px;
    height: 56px;
    margin-top: 639px;
    margin-left: 708px;
    background: unset;
    border-color: white;
}

.TextOnButtonLearnMore {
    color: white;
    font-size: large;
}

.aboutMe {

}

.resume {

}

.portfolio {

}

.contactMe {

}

.footer {

}




