p.aboutMe{
    font-weight: bold;
    font-size: xx-large;
}
img{
    width: 100%;
}
.backgroundColorWhite{
    background-color: white;
}
.wrapper{
    justify-content: center;
    background-color: #292624;

}
.containerHome{
    display: grid;
    max-width: 1600px;
}
/*розширення екрану*/
@media (min-width: 800px) {
    .portfolioContent {
        display: grid;
        grid-template-areas:
            'hublish llook greenHorn'
            'digibarber organic organic';
        grid-gap: 30px;
        padding: 100px;
    }
    .containerProfExperience{
        display: grid;
        grid-template-areas:
                'profExp profExpDescribe';
    }
    .containerMyEducation {
        display: grid;
        grid-template-areas:
                'photoMyEducation myEducationInfo';
    }
    .containerSkillsTestimonials{
        display: grid;
        grid-template-areas:
                'technologies technologiesDescription'
                'devTools devToolsDescription'
                'testimonialsPhoto testimonialsInfo';
        max-width: 1600px;
    }
    .portfolioOrganicImg {
        height: 48%;
    }
}
/*звуження екрану*/
@media (max-width: 1200px) {
    .portfolioContent{
        display: grid;
        grid-template-areas:
            'hublish'
            'llook'
            'greenHorn'
            'digibarber'
            'organic';
        grid-gap: 30px;
        padding: 50px;
    }
    .containerProfExperiance{
        display: grid;
        grid-template-areas:
                'profExp'
                'profExpDescribe';
    }
    .containerMyEducation{
        display: grid;
        grid-template-areas:
                'photoMyEducation'
                'myEducationInfo';
    }
    .containerSkillsTestimonials{
        display: grid;
        grid-template-areas:
                'technologies'
                'technologiesDescription'
                'devTools'
                'devToolsDescription'
                'testimonialsPhoto'
                'testimonialsInfo';
    }
    .portfolioOrganicImg{
        height: 100%;
    }
}
.profExp{
    grid-area: profExp;
}
.profExpDescribe{
    grid-area: profExpDescribe;
}
.ulProf {
    list-style-type: none;
    font-size: 20px;
}
.liProf {

}
.myEducationInfo{
    grid-area: myEducationInfo;
    background-color: #f2f2f1;
}
.ulEducation {
    list-style-type: none;
    font-size: 30px;
}
.liEducation  {
    margin-top: 30px;
}
.technologies{
    grid-area: technologies;
}
.technologiesDescription{
    grid-area: technologiesDescription;
}
.ulTech {
    list-style-type: none;
    font-size: 20px;
}
.liTech {

}
.devTools{
    grid-area: devTools;
}
.devToolsDescription{
    grid-area: devToolsDescription;
}
.ulDev {
    list-style-type: none;
    font-size: 20px;
}
.liDev {

}
.testimonialsPhoto{
    grid-area: testimonialsPhoto;
}
.testimonPhoto{
    width: 80px;
    height: 160px;
}
.testimonialsInfo{
    grid-area: testimonialsInfo;
}
.hublish{
    grid-area: hublish;
}
.llook{
    grid-area: llook;
}
.greenHorn{
    grid-area: greenHorn;
}
.digibarber{
    grid-area: digibarber;
}
.organic{
    grid-area: organic;
}


.containerContactMe{

}

