p.aboutMe{
    font-weight: bold;
    font-size: xx-large;
}
img{
    width: 100%;
}

.wrapper{
    justify-content: center;
    background-color: white;

}
.containerHome{
    display: grid;
    max-width: 1600px;
}
/*розширення екрану*/
@media (min-width: 800px) {
    .portfolioContent{
        display: grid;
        grid-template-areas:
            'hublish llook greenHorn'
            'digibarber organic organic';
        grid-gap: 30px;
        padding: 100px;
    }
    .containerAboutMe{
        display: grid;
        grid-template-areas:
                'aboutMeGoals aboutMeValues aboutMeHobbies';
        max-width: 1600px;
    }
    .portfolioOrganicImg{
        height: 48%;
    }
}
/*звуження екрану*/
@media (max-width: 1200px) {
    .portfolioContent{
        display: grid;
        grid-template-areas:
            'hublish'
            'llook'
            'greenHorn'
            'digibarber'
            'organic';
        grid-gap: 30px;
        padding: 50px;
    }
    .containerAboutMe{
        display: grid;
        grid-template-areas:
                'aboutMeGoals'
                'aboutMeValues'
                'aboutMeHobbies';
    }
    .portfolioOrganicImg{
        height: 100%;
    }
}
.aboutMe_GoalsValuesHobbies{
    text-align: center;
    font-size: xx-large;
    font-family: "Candara";
    font-style: italic;
    padding: 20px;
}
.aboutMeGoals{
    grid-area: aboutMeGoals;
}
.aboutMeValues{
    grid-area: aboutMeValues ;
}
.aboutMeHobbies{
    grid-area: aboutMeHobbies;
}
.containerMyEducation{

}
.containerSkills{

}
.containerTestimonials{

}

.hublish{
    grid-area: hublish;
}
.llook{
    grid-area: llook;
}
.greenHorn{
    grid-area: greenHorn;
}
.digibarber{
    grid-area: digibarber;
}
.organic{
    grid-area: organic;
}


.containerContactMe{

}

